---
import SVG from '../components/SVG.astro';
import FilterPreview from '../components/FilterPreview.astro';
const filters = await Astro.glob('../filters/*.astro');
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Refinery</title>

  <style is:global>
    html {
      background: hsl(10deg 10% 90%);
    }

    * {
      margin: 0;
      padding: 0;
      font: inherit;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      list-style: none;
      gap: 1rem;
      padding: 1rem;
    }
    img {
      display: block;
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
  </style>
</head>
<body>
	<SVG />

  <h1>Refinery</h1>
  <p>Description of various filters and effects using SVG and CSS</p>

  <ul>
		<FilterPreview name="noise">
			<img src="https://images.unsplash.com/photo-1688843747248-4ef83aeb80a7?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5NTg5MTJ8&ixlib=rb-4.0.3&q=85" alt=" ">
		</FilterPreview>
		<FilterPreview name="goo">
      <div class="goo-div"></div>
      <div class="goo-div"></div>
      <style>
        .goo-div {
          position: absolute;
          width: 30%;
          height: 30%;
          border-radius: 50%;
          background: red;
          inset: 0;
          margin: auto;
          animation: goo 20s linear infinite;
          mix-blend-mode: overlay;
          background: oklch(67.4% 0.37 0);
        }
        .goo-div:last-child {
          animation-direction: reverse;
          animation-delay: -9s;
          animation-duration: 30s;
          transform-origin: 50% center;
        }
        @keyframes goo {
          0% {
            background: oklch(67.4% 0.37 90);
          }
          50% {
            transform: rotate(360deg) translatey(-75%);
            background: oklch(67.4% 0.37 0);
          }
          100% {
            transform: rotate(720deg);
            background: oklch(67.4% 0.37 90);
          }
        }
      </style>
		</FilterPreview>
		<FilterPreview name="cmykHalftone">
			<img src="https://images.unsplash.com/photo-1688843747248-4ef83aeb80a7?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5NTg5MTJ8&ixlib=rb-4.0.3&q=85" alt=" ">
		</FilterPreview>
		<FilterPreview name="halftone">
			<img src="https://images.unsplash.com/photo-1688843747248-4ef83aeb80a7?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5NTg5MTJ8&ixlib=rb-4.0.3&q=85" alt=" ">
		</FilterPreview>
		<FilterPreview name="vhs">
			<img src="https://images.unsplash.com/photo-1688843747248-4ef83aeb80a7?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5NTg5MTJ8&ixlib=rb-4.0.3&q=85" alt=" ">
		</FilterPreview>
		<FilterPreview name="duotone">
			<img src="https://images.unsplash.com/photo-1688843747248-4ef83aeb80a7?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5NTg5MTJ8&ixlib=rb-4.0.3&q=85" alt=" ">
		</FilterPreview>


		<!-- <filter id="refinery-halftone"></filter>
    <filter id="refinery-cmyk-halftone"></filter>
    <filter id="refinery-cmyk-error"></filter>
    <filter id="refinery-rgb-error"></filter>
    <filter id="refinery-shatter"></filter>
    <filter id="refinery-noise"></filter>
    <filter id="refinery-ripple"></filter>
    <filter id="refinery-specular"></filter>
    <filter id="refinery-ripple-specular"></filter>
    <filter id="refinery-ikat-vertical"></filter>
    <filter id="refinery-ikat-horizontal"></filter>
    <filter id="refinery-duotone"></filter>
    <filter id="refinery-heatmap"></filter>
    <filter id="refinery-topographic"></filter>
    <filter id="refinery-topographic-cut"></filter>
    <filter id="refinery-outline"></filter>
    <filter id="refinery-metaball"></filter>
    <filter id="refinery-puff"></filter>
    <filter id="refinery-raindrops"></filter>
    <filter id="refinery-wood"></filter> https://css-tricks.com/creating-patterns-with-svg-filters/
    <filter id="refinery-water"></filter> -->
  </ul>

</body>
</html>